<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>:: ATOC ::</title>
<link rel="stylesheet" href="../../resources/css/style.default.css" />
<link rel="stylesheet" href="../../resources/css/font-awesome.css" />
<link rel="stylesheet" type="text/css"
	href="../../resources/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css"
	href="../../resources/css/dataTables.responsive.css">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<script src="../../resources/js/jquery-1.10.2.min.js"></script>
<script src="../../resources/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../../resources/js/jquery-ui-1.10.3.min.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/js/modernizr.min.js"></script>
<script src="../../resources/js/jquery.cookies.js"></script>
<script src="../../resources/js/jquery.uniform.min.js"></script>
<script src="../../resources/js/flot/jquery.flot.min.js"></script>
<script src="../../resources/js/flot/jquery.flot.resize.min.js"></script>
<script src="../../resources/js/jquery.slimscroll.js"></script>
<script src="../../resources/prettify/prettify.js"></script>
<script src="../../resources/js/custom.js"></script>
<!--[if lte IE 8]>
<script src="js/excanvas.min.js"></script>
<![endif]-->
<style type="text/css">
#CustomerDataTable_length {
	display: none;
}
</style>
<style type="text/css" class="init">
div.container {
	max-width: 1200px
}
</style>
<style type="text/css">
@media screen and (min-width: 768px) {
	#regApproval_Modal .modal-dialog {
		width: 900px;
	}
}

#regApproval_Modal .modal-dialog {
	width: 70%;
}
</style>
</head>
<body>
	<div id="mainwrapper" class="mainwrapper">
		<div class="header">
			<div class="logo">
				<a href="../dashboard/registrationApprovals.html"><img
					src="../../resources/images/atoc_logo.png" alt="" /></a>
			</div>
			<div class="headerinner">
				<ul class="headmenu">
					<li class="odd"><a href="../staticpages/aboutUs.html"> <span
							class="head-icon fa fa-info-circle fa-4x"></span> <span
							class="headmenu-label">About Us</span>
					</a></li>
					<li><a href="../staticpages/FAQ.html"><span
							class="head-icon fa fa-pencil-square-o fa-4x"></span> <span
							class="headmenu-label">FAQ</span> </a></li>
					<li class="odd"><a href="../staticpages/Help.html"> <span
							class="head-icon fa fa-question-circle fa-4x"></span> <span
							class="headmenu-label">Help</span>
					</a></li>
					<li class="odd"><a href="../staticpages/notifications.html"
						class="dropdown-toggle" data-toggle="dropdown" data-target="#">
							<span class="count" id="notification_Count"></span> <span
							class="head-icon fa fa-bell-o fa-4x"></span> <span
							class="headmenu-label">Notifications</span>
					</a>
						<ul class="dropdown-menu" id="">
							<li class="nav-header">Notifications</li>
							<li id="notification_dropdown"></li>
							<li id="viewMore"><a href="">View More Message</a></li>
						</ul></li>
					<li class="right">
						<div class="userloggedinfo">
							<!-- Profile will set dynamically.-->
							<img id="profileImg" alt="" />
							<div class="userinfo">
								<h5>
									Hi&nbsp;&nbsp;<span id="userName_id"
										style="font-style: italic;"></span>
								</h5>
								<ul>
									<li><a href="../user/editProfile.html"><i
											class="fa fa-pencil-square-o"></i>&nbsp; &nbsp;Edit Profile</a></li>
									<li><a href="../user/changePassword.html"><i
											class="fa fa-key"></i>&nbsp; &nbsp;Change Password</a></li>
									<li><a href="#" id="logout_link"><i
											class="fa fa-unlock"></i>&nbsp; &nbsp;Sign Out</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
				<!--headmenu-->
			</div>
		</div>
		<div class="leftpanel">
			<div class="leftmenu" id="masteradmin_menu_id">
				<ul class="nav nav-tabs nav-stacked">
					<li class="nav-header">ATOC Menu</li>
					<li class="active" id="regapproval"><a
						href="../dashboard/registrationApprovals.html"><i
							class="fa fa-check-square-o"></i>&nbsp;Registration Approval </a></li>
					<li class="" id="addorganization"><a
						href="../admin/addOrganization.html"><i
							class="fa fa-plus-circle"> </i>&nbsp;Add Organization</a></li>
					<li class="" id="organizations"><a
						href="../admin/organizations.html"><i class="fa fa-th-list">
						</i>&nbsp;Organizations</a></li>
					<li class="" id="addmasteruser"><a
						href="../admin/addMasterUser.html"><i class="fa fa-user-md"></i>&nbsp;Add
							Master User </a></li>
					<li class="" id="addorguser"><a
						href="../admin/addOrganizationUser.html"><i
							class="fa fa-user "></i>&nbsp;Add Org User</a></li>
					<li class="" id="masterUserList"><a
						href="../admin/masterUser.html"><i class="fa fa-list-alt">
						</i>&nbsp;User Management</a></li>
				</ul>
			</div>
			<!--leftmenu-->
		</div>
		<!-- leftpanel -->
		<div class="rightpanel">
			<ul class="breadcrumbs">
				<li><a href="../dashboard/registrationApprovals.html"><i
						class="fa fa-home"></i></a> <span class="separator"></span></li>
				<li>Registration Approvals</li>
				<li class="right" id="color_skin"><a href=""
					data-toggle="dropdown" class="dropdown-toggle"><i
						class="fa fa-tint"></i>&nbsp;Change Skins</a>
					<ul class="dropdown-menu pull-right skin-color">
						<li><a id="default" href="default">Default</a></li>
						<li><a id="navyblue" href="navyblue">Navy Blue</a></li>
						<li><a id="palegreen" href="palegreen">Pale Green</a></li>
						<li><a id="red" href="red">Red</a></li>
						<li><a id="green" href="green">Green</a></li>
						<li><a id="brown" href="brown">Brown</a></li>
					</ul></li>
			</ul>
			<!--pageheader-->
			<div class="pageheader">
				<div class="pageicon">
					<i class="fa fa-check-square-o"></i>
				</div>
				<div class="pagetitle">
					<h1>Registration Approval</h1>
				</div>
			</div>
			<div class="maincontent">
				<div class="maincontentinner">
					<h4 class="widgettitle">
						<i class='fa fa-check-square-o'></i>&nbsp;Registration Approval
					</h4>
					<table id="CustomerDataTable"
						class="table table-bordered responsive nowrap" cellspacing="0"
						width="100%">
						<thead>
							<tr>
								<th>Organization</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Contact Email</th>
								<th>Contact Number</th>
								<th>View Details</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<!-- Approval Model Window -->
					<div id="regApproval_Modal" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="false" id="winclose">&times;</button>
									<h3 align="justify">Registration Approval Window</h3>
								</div>
								<div class="modal-body">
									<div class='row'>
										<div class='col-md-2'>
											<strong>Fist Name</strong>
										</div>
										<div class='col-md-1'>
											<strong>:</strong>
										</div>
										<div class='col-md-3'>
											<span id="name"></span>
										</div>
										<div class='col-md-2'>
											<strong>Last Name</strong>
										</div>
										<div class='col-md-1'>
											<strong>:</strong>
										</div>
										<div class='col-md-2'>
											<span id="lastName"></span>
										</div>
									</div>
									<div class='row'>
										<div class='col-md-2'>
											<strong>Address</strong>
										</div>
										<div class='col-md-1'>
											<strong>:</strong>
										</div>
										<div class='col-md-3'>
											<span id="address"></span>
										</div>
										<div class='col-md-2'>
											<strong>City</strong>
										</div>
										<div class='col-md-1'>
											<strong>:</strong>
										</div>
										<div class='col-md-2'>
											<span id="city"></span>
										</div>
									</div>
									<div class='row'>
										<div class='col-md-2'>
											<strong>State</strong>
										</div>
										<div class='col-md-1'>
											<strong>:</strong>
										</div>
										<div class='col-md-3'>
											<span id="state"></span>
										</div>
										<div class='col-md-2'>
											<strong>Country</strong>
										</div>
										<div class='col-md-1'>
											<strong>:</strong>
										</div>
										<div class='col-md-2'>
											<span id="country"></span>
										</div>
									</div>
									<div class='row'>
										<div class='col-md-2'>
											<strong>Zip Code</strong>
										</div>
										<div class='col-md-1'>
											<strong>:</strong>
										</div>
										<div class='col-md-3'>
											<span id="zip"></span>
										</div>
										<div class='col-md-2'>
											<strong>Contact Person</strong>
										</div>
										<div class='col-md-1'>
											<strong>:</strong>
										</div>
										<div class='col-md-2'>
											<span id="cname"></span>
										</div>
									</div>
									<div class='row'>
										<div class='col-md-2'>
											<strong>Contact Phone</strong>
										</div>
										<div class='col-md-1'>
											<strong>:</strong>
										</div>
										<div class='col-md-3'>
											<span id="cphone"></span>
										</div>
										<div class='col-md-2'>
											<strong>Contact Email</strong>
										</div>
										<div class='col-md-1'>
											<strong>:</strong>
										</div>
										<div class='col-md-2'>
											<span id="cemail"></span>
										</div>
									</div>
									<div class='row'>
										<div class='col-md-2'>
											<strong>Web Site</strong>
										</div>
										<div class='col-md-1'>
											<strong>:</strong>
										</div>
										<div class='col-md-3'>
											<span id="cweb"></span>
										</div>
									</div>
									<div class="form group">
										<label for="name">Notes :</label> <input type="text"
											placeholder="Enter notes here"
											class="form-control only_alphabets" id="notes">
									</div>
									<p id="reApprovalNotes" style="color: red; display: none;">
										Please enter notes for rejection.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary " id="approve_btn">Approve</button>
									<button type="button" class="btn btn-primary" id="reject_btn">Reject</button>
									<button type="button" class="btn btn-default"
										data-dismiss="modal" id="close">Close</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Approval Model Window ends here -->
					<div class="footer">
						<div class="footer-left">
							<span>&copy; 2015. BPA Technologies. All Rights Reserved.</span>
						</div>
						<div class="footer-right">
							<span>Powered by: <a href="http://www.bpatech.com"
								target="_blank">BPA Technologies</a></span>
						</div>
					</div>
					<!--footer-->
				</div>
				<!--maincontentinner-->
			</div>
			<!--maincontent-->
		</div>
		<!--rightpanel-->
	</div>
	<!--mainwrapper-->
	<!-- custom block Ui STARTS HERE-->
	<div id="loading-div-background" style="display: none;">
		<div id="loading-div" class="ui-corner-all">
			<img style="height: 50%; margin: 10px;"
				src="../../resources/images/loading.gif" alt="Loading.." />
			<h4 style="color: #ffffff; font-size: 18px; font-weight: normal;">Please
				wait...</h4>
		</div>
	</div>
	<!-- custom block Ui ENDS HERE-->
	<script src="../../resources/js/config.js"></script>
	<script src="../../resources/js/atoc_common.js"></script>
	<script src="../../view/staticpages/notifications.js"></script>
	<script src="../../view/dashboard/registrationApproval.js"></script>
	<script src="../../resources/js/RestrictRedirection.js"></script>
	<script src="../../resources/js/BackButtonRestrict.js"></script>
	<script src="../../resources/js/jquery.dataTables.js"></script>
	<script src="../../resources/js/datatable_responsive.js"></script>
	<script src="../../resources/js/Application.js"></script>
	<script type="text/javascript"
		src="../../resources/js/jquery.blockUI.js"></script>
	<script>
		setUserTokenToRequestHeader(sessionStorage.getItem("userToken"));
		setProfileImage(sessionStorage.getItem("profileImgData"));
	</script>
</body>
</html>