<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>:: HRMS ::</title>
<link rel="stylesheet" href="../../resources/css/style.default.css" />
<link rel="stylesheet" href="../../resources/css/font-awesome.css" />
<link rel="stylesheet" type="text/css"
	href="../../resources/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css"
	href="../../resources/css/dataTables.responsive.css">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<script src="../../resources/js/jquery-1.10.2.min.js"></script>
<script src="../../resources/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../../resources/js/jquery-ui-1.10.3.min.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/js/modernizr.min.js"></script>
<script src="../../resources/js/jquery.cookies.js"></script>
<script src="../../resources/js/jquery.uniform.min.js"></script>
<script src="../../resources/js/flot/jquery.flot.min.js"></script>
<script src="../../resources/js/flot/jquery.flot.resize.min.js"></script>
<script src="../../resources/js/jquery.slimscroll.js"></script>
<script src="../../resources/prettify/prettify.js"></script>
<script src="../../resources/js/custom.js"></script>
<script src="../../resources/js/elements.js"></script>
<!--[if lte IE 8]>
<script src="js/excanvas.min.js"></script>
<![endif]-->

<style type="text/css" class="init">
div.container {
	max-width: 1200px
}
</style>
<script language="JavaScript">
function doFunction()
{
	window.location.href="newCandidateProfile.html";
}
</script>



</head>
<body>
	<div id="mainwrapper" class="mainwrapper">
		<div class="header">
			<div class="logo">
				<a href="../dashboard/dashboard.html"><img
					src="../../resources/images/hrms_logo.png" alt="" /></a>
			</div>
			<div class="headerinner">
				<ul class="headmenu">
					<li class="odd"><a href="../staticpages/aboutUs.html"> <span
							class="head-icon fa fa-info-circle fa-4x"></span> <span
							class="headmenu-label">About Us</span>
					</a></li>
					<li><a href="../staticpages/FAQ.html"><span
							class="head-icon fa fa-pencil-square-o fa-4x"></span> <span
							class="headmenu-label">FAQ</span> </a></li>
					<li class="odd"><a href="../staticpages/Help.html"> <span
							class="head-icon fa fa-question-circle fa-4x"></span> <span
							class="headmenu-label">Help</span>
					</a></li>
					<li class="odd"><a href="../staticpages/notifications.html"
						class="dropdown-toggle" data-toggle="dropdown" data-target="#">
							<span class="count" id="notification_Count"></span> <span
							class="head-icon fa fa-bell-o fa-4x"></span> <span
							class="headmenu-label">Notifications</span>
					</a>
						<ul class="dropdown-menu" id="">
							<li class="nav-header">Notifications</li>
							<li id="notification_dropdown"></li>
							<li id="viewMore"><a href="">View More Message</a></li>
						</ul></li>
					<li class="right">
						<div class="userloggedinfo">
							<!-- Profile will set dynamically.-->
							<img id="profileImg" alt="" />
							<div class="userinfo">
								<h5>
									Hi&nbsp;&nbsp;<span id="userName_id"
										style="font-style: italic;"></span>
								</h5>
								<ul>
									<li><a href="../user/editProfile.html"><i
											class="fa fa-pencil-square-o"></i>&nbsp; &nbsp;Edit Profile</a></li>
									<li><a href="../user/changePassword.html"><i
											class="fa fa-key"></i>&nbsp; &nbsp;Change Password</a></li>
									<li><a href="#" id="logout_link"><i
											class="fa fa-unlock"></i>&nbsp; &nbsp;Sign Out</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
				<!--headmenu-->
			</div>
		</div>
		<div class="leftpanel">
			<div class="leftmenu" id="orgoradminuser_menu_id22"></div>
			<!--leftmenu-->
		</div>
		<!-- leftpanel -->
		<div class="rightpanel">
			<ul class="breadcrumbs">
				<li><a href="../dashboard/dashboard.html"><i
						class="fa fa-home"></i></a> <span class="separator"></span></li>
				<li>Recruitment</li>
				<li class="right" id="color_skin"><a href=""
					data-toggle="dropdown" class="dropdown-toggle"><i
						class="fa fa-tint"></i>&nbsp;Change Skins</a>
					<ul class="dropdown-menu pull-right skin-color">
						<li><a id="default" href="default">Default</a></li>
						<li><a id="navyblue" href="navyblue">Navy Blue</a></li>
						<li><a id="palegreen" href="palegreen">Pale Green</a></li>
						<li><a id="red" href="red">Red</a></li>
						<li><a id="green" href="green">Green</a></li>
						<li><a id="brown" href="brown">Brown</a></li>
					</ul></li>
			</ul>
			<!--pageheader-->

			<div class="pageheader">

				<span class="searchbar">
					<button type="button" class="btn btn-primary"
						id="search_employee_btn" onclick="doFunction();">Add
						Profile</button>&nbsp;
					<button type="button" class="btn btn-primary"
						id="assign_candidate_request">Assign Request</button>

				</span>


				<div class="pageicon">
					<span class="iconfa-calendar"></span>
				</div>
				<div class="pagetitle">

					<h1>Candidate Profiles</h1>
				</div>
			</div>
			<!--pageheader-->



			<div class="maincontent">
				<div class="maincontentinner">
					<div class="panel panel-default">
						<h4 class="widgettitle">
							<i class='fa fa-table'></i>&nbsp;Candidate Profiles

						</h4>
						<div class='panel-body filters'>
							<div class='row' id="R1">
								<div class='col-md-9'>
									<h4 class="modal-title">Search Profile</h4>
								</div>
								<div class='col-md-3'></div>
							</div>

							<div class='row' id="R11">
								<div class='col-md-9'>
									<h4 class="modal-title">Assign To Requisition</h4>
								</div>
								<div class='col-md-3'></div>
							</div>


							<div class='row' id="R2">
								<form class="form form-horizontal" id="searchForm_employee">
									<div class='col-md-3'>
										<input type="text" class="form-control" id="searchExperience"
											placeholder=" <= Experience">
									</div>
									<div class='col-md-6'>
										<input type="text" class="form-control" id="searchKeySkill"
											placeholder="Key Skill">
									</div>


									<div class='col-md-3'>
										<button type="button" class="btn btn-primary"
											id="search_candidateprofile_btn">
											<i class="fa fa-search"></i>&nbsp; Search
										</button>
										<button type="button" class="btn btn-primary"
											id="resetsearch_candidateprofile_btn" data-dismiss="modal">Reset</button>
									</div>
								</form>
							</div>

							<div class='row' id="R21">
								<form class="form form-horizontal" id="assignCandidate_ReqForm">
									<div class='col-md-9'>
										<select class="form-control" id="dropdown_req"
											name="dropdown_req">
										</select>
									</div>
									<div class='col-md-3'>
										<div class="form-group">
											<button type="button" class="btn btn-primary"
												id="submit_assigncandidateprofile_btn">Submit</button>
											<button type="button" class="btn btn-primary"
												id="reset_assigncandidateprofile_btn" data-dismiss="modal">Cancel</button>
										</div>
									</div>
								</form>
							</div>


						</div>






						<table id="candidateProfileList_table"
							class="table table-bordered responsive nowrap" cellspacing="0"
							width="100%">
							<thead>
								<tr>
									<th><input name="select_all" value="1"
										id="example-select-all" type="checkbox"></th>
									<th>Name</th>
									<th>Contact Info</th>
									<th>Key Skill</th>
									<th>Experience</th>
									<th>Current Status</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>






					</div>
					<!-- End of Panel Body -->
					<div class="modal fade" id="delete_candidate_modal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
									</button>
									<h4 class="modal-title">Delete Request</h4>
								</div>
								<div class="modal-body">
									<p>Are you sure want to delete this Request?</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger"
										id="delete_candidateprofile_btn">Delete</button>
									<button type="button" class="btn btn-danger"
										data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
					<div class="footer">
						<div class="footer-left">
							<span>&copy; 2015. BPA Technologies. All Rights Reserved.</span>
						</div>
						<div class="footer-right">
							<span>Powered by: <a href="http://www.bpatech.com"
								target="_blank">BPA Technologies</a></span>
						</div>
					</div>
					<!--footer-->
				</div>
				<!--maincontentinner-->
			</div>
			<!--maincontent-->
		</div>
		<!--rightpanel-->
	</div>
	<!--mainwrapper-->
	<!-- custom block Ui STARTS HERE-->
	<div id="loading-div-background" style="display: none;">
		<div id="loading-div" class="ui-corner-all">
			<img style="height: 50%; margin: 10px;"
				src="../../resources/images/loading.gif" alt="Loading.." />
			<h4 style="color: #ffffff; font-size: 18px; font-weight: normal;">Please
				wait...</h4>
		</div>
	</div>
	<!-- custom block Ui ENDS HERE-->
	<script src="../../resources/js/config.js"></script>
	<script src="../../resources/js/atoc_common.js"></script>
	<script src="../../view/staticpages/notifications.js"></script>
	<script src="../../view/recruitment/candidateProfiles.js"></script>
	<script src="../../resources/js/RestrictRedirection.js"></script>
	<script src="../../resources/js/BackButtonRestrict.js"></script>
	<script src="../../resources/js/Application.js"></script>
	<script type="text/javascript"
		src="../../resources/js/jquery.blockUI.js"></script>
	<script src="../../resources/js/jquery.slimscroll.js"></script>
	<script src="../../resources/js/jquery.dataTables.js"></script>
	<script src="../../resources/js/datatable_responsive.js"></script>
	<script src="../../resources/js/leftnavigation.js"></script>
	<script src="../../resources/js/jquery.validate.min.js"></script>
	<script>
		setUserTokenToRequestHeader(sessionStorage.getItem("userToken"));
		setProfileImage(sessionStorage.getItem("profileImgData"));
	</script>
</body>
</html>