<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>:: HRMS ::</title>
<link rel="stylesheet" href="../../resources/css/style.default.css" />
<link rel="stylesheet" href="../../resources/css/font-awesome.css" />
<link rel="stylesheet" type="text/css"
	href="../../resources/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css"
	href="../../resources/css/dataTables.responsive.css">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<script src="../../resources/js/jquery-1.10.2.min.js"></script>
<script src="../../resources/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../../resources/js/jquery-ui-1.10.3.min.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/js/ckeditor/ckeditor.js"></script>
<script src="../../resources/js/modernizr.min.js"></script>
<script src="../../resources/js/jquery.cookies.js"></script>
<script src="../../resources/js/jquery.uniform.min.js"></script>
<script src="../../resources/js/flot/jquery.flot.min.js"></script>
<script src="../../resources/js/flot/jquery.flot.resize.min.js"></script>
<script src="../../resources/js/jquery.slimscroll.js"></script>
<script src="../../resources/prettify/prettify.js"></script>
<script src="../../resources/js/custom.js"></script>
<script src="../../resources/js/elements.js"></script>



<style type="text/css" class="init">
div.container {
	max-width: 1200px
}
</style>
</head>
<body>
	<div id="mainwrapper" class="mainwrapper">
		<div class="header">
			<div class="logo">
				<a href="../dashboard/dashboard.html"><img
					src="../../resources/images/hrms_logo.png" alt="" /></a>
			</div>
			<div class="headerinner">
				<ul class="headmenu">
					<li class="odd"><a href="../staticpages/aboutUs.html"> <span
							class="head-icon fa fa-info-circle fa-4x"></span> <span
							class="headmenu-label">About Us</span>
					</a></li>
					<li><a href="../staticpages/FAQ.html"><span
							class="head-icon fa fa-pencil-square-o fa-4x"></span> <span
							class="headmenu-label">FAQ</span> </a></li>
					<li class="odd"><a href="../staticpages/Help.html"> <span
							class="head-icon fa fa-question-circle fa-4x"></span> <span
							class="headmenu-label">Help</span>
					</a></li>
					<li class="odd"><a href="../staticpages/notifications.html"
						class="dropdown-toggle" data-toggle="dropdown" data-target="#">
							<span class="count" id="notification_Count"></span> <span
							class="head-icon fa fa-bell-o fa-4x"></span> <span
							class="headmenu-label">Notifications</span>
					</a>
						<ul class="dropdown-menu" id="">
							<li class="nav-header">Notifications</li>
							<li id="notification_dropdown"></li>
							<li id="viewMore"><a href="">View More Message</a></li>
						</ul></li>
					<li class="right">
						<div class="userloggedinfo">
							<!-- Profile will set dynamically.-->
							<img id="profileImg" alt="" />
							<div class="userinfo">
								<h5>
									Hi&nbsp;&nbsp;<span id="userName_id"
										style="font-style: italic;"></span>
								</h5>
								<ul>
									<li><a href="../user/editProfile.html"><i
											class="fa fa-pencil-square-o"></i>&nbsp; &nbsp;Edit Profile</a></li>
									<li><a href="../user/changePassword.html"><i
											class="fa fa-key"></i>&nbsp; &nbsp;Change Password</a></li>
									<li><a href="#" id="logout_link"><i
											class="fa fa-unlock"></i>&nbsp; &nbsp;Sign Out</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
				<!--headmenu-->
			</div>
		</div>
		<div class="leftpanel">
			<div class="leftmenu" id="orgoradminuser_menu_id22"></div>
			<!--leftmenu-->
		</div>

		<div class="rightpanel">
			<ul class="breadcrumbs">
				<li><a href="../dashboard/dashboard.html"><i
						class="fa fa-home"></i></a> <span class="separator"></span></li>
				<li>Resources Requests</li>
				<li class="right" id="color_skin"><a href=""
					data-toggle="dropdown" class="dropdown-toggle"><i
						class="fa fa-tint"></i>&nbsp;Change Skins</a>
					<ul class="dropdown-menu pull-right skin-color">
						<li><a id="default" href="default">Default</a></li>
						<li><a id="navyblue" href="navyblue">Navy Blue</a></li>
						<li><a id="palegreen" href="palegreen">Pale Green</a></li>
						<li><a id="red" href="red">Red</a></li>
						<li><a id="green" href="green">Green</a></li>
						<li><a id="brown" href="brown">Brown</a></li>
					</ul></li>
			</ul>
			<!--pageheader-->
			<div class="pageheader">
				<div class="pageicon">
					<i class="fa fa-pencil"></i>
				</div>
				<div class="pagetitle">
					<!-- <h5>Reports</h5> -->
					<h1>Edit Request</h1>
				</div>
			</div>
			<div class="maincontent">
				<div class="maincontentinner">
					<div class="panel panel-default">
						<h4 class="widgettitle">
							<i class='fa fa-table'></i>&nbsp;Edit Request

						</h4>

						<div class="tabbedwidget tab-primary">
							<ul>
								<li><a href="#a-1">General</a></li>
								<li><a href="#a-2">Assign Interviewers</a></li>
								<li><a href="#a-3">Selected Candidates</a></li>

							</ul>

							<div id="a-1">


								<form id="mprequest-general-form" novalidate="novalidate">
									<div class="Widget">
										<h4 class="widgettitle">General Information</h4>
										<div class="widgetcontent">

											<div class='row'>
												<div class='col-md-4'>
													<p>
														<label>Job Code</label>&nbsp;<font color="red">*</font> <span
															class="field"> <input id="jobCode" type="text"
															name="jobCode" placeholder="Job Code"
															class="form-control" /> <input type="hidden"
															name="gemsMapowerRequestId" id="gemsMapowerRequestId" />
														</span>

													</p>
												</div>
												<div class='col-md-4'>
													<p>
														<label>Recruitment Type</label>&nbsp;<font color="red">*</font><span
															class="field"> <select id="requestType"
															name="requestType" class="form-control">

														</select>
														</span>
													</p>
												</div>
												<div class='col-md-4'>
													<p>
														<label>Customer</label>&nbsp; <span class="field">
															<select class="form-control" id="gemsCustomer">
														</select>
														</span>
													</p>
												</div>

											</div>

											<div class='row'>
												<div class='col-md-4'>
													<p>
														<label>Requested Department</label> <span class="field">
															<select class="form-control" id="dropdown_department"
															name="dropdown_department">

														</select>
														</span>
													</p>
												</div>
												<div class='col-md-4'>
													<p>
														<label>Request Valid (From)</label>&nbsp; <span
															class="field"> <input id="requestValidFrom"
															type="text" name="requestValidFrom"
															placeholder="Request Validity (From)"
															class="form-control" />
														</span>
													</p>
												</div>
												<div class='col-md-4'>
													<p>
														<label>Request Valid (To)</label>&nbsp; <span
															class="field"> <input type="text"
															name="requestValidTo" id="requestValidTo"
															class="form-control" placeholder="Request Validity (To)" />
														</span>
													</p>
												</div>
											</div>

											<div class='row'>

												<div class='col-md-12'>
													<p>&nbsp;</p>
												</div>
											</div>

											<div class='row'>
												<h4 class="widgettitle">Job Details</h4>

											</div>

											<div class='row'>
												<div class='col-md-4'>
													<p>
														<label>Job Position</label>&nbsp;<font color="red">*</font>
														<span class="field"> <input type="text"
															name="jobPosition" id="jobPosition" class="form-control"
															placeholder="Job Position" />
														</span>
													</p>
												</div>
												<div class='col-md-4'>
													<p>
														<label>Job Location</label>&nbsp;<font color="red">*</font>
														<span class="field"> <input id="jobLocation"
															type="text" name="jobLocation" placeholder="Customer Fax"
															class="form-control" />
														</span>
													</p>
												</div>
												<div class='col-md-4'>
													<p>
														<label>Employment Type</label>&nbsp;<font color="red">*</font>
														<span class="field"> <select id="employmentType"
															name="employmentType" class="form-control">
																<option id="0">Select Employment Type</option>
																<option id="PERMANENT">PERMANENT</option>
																<option id="CONTRACT">CONTRACT</option>
																<option id="C2H">C2H</option>
														</select>
														</span>
													</p>
												</div>

											</div>

											<div class='row'>
												<div class='col-md-4'>
													<p>
														<label>Education</label>&nbsp;<font color="red">*</font> <span
															class="field"> <input type="text" name="education"
															id="education" class="form-control"
															placeholder="Education" />
														</span>
													</p>
												</div>

												<div class='col-md-4'>
													<p>
														<label>Salary Range (From)</label>&nbsp;<font color="red">*</font>
														<span class="field"> <input type="text"
															name="minimumSalary" id="minimumSalary"
															class="form-control" placeholder="Salary (Min)" />
														</span>
													</p>
												</div>
												<div class='col-md-4'>
													<p>
														<label>Salary Range (To)</label>&nbsp;<font color="red">*</font>
														<span class="field"> <input id="maxSalary"
															type="text" name="maxSalary" placeholder="Salary (Max)"
															class="form-control" />
														</span>
													</p>
												</div>


											</div>

											<div class='row'>
												<div class='col-md-4'>
													<p>
														<label>Profile Required Exp.(Min)</label>&nbsp;<font
															color="red">*</font> <span class="field"> <input
															type="text" name="profileExperienceMin"
															id="profileExperienceMin" class="form-control"
															placeholder="Profile Experience (Min)" />
														</span>
													</p>
												</div>
												<div class='col-md-4'>
													<p>
														<label>Profile Required Exp.(Max)</label>&nbsp;<font
															color="red">*</font> <span class="field"> <input
															id="profileExperienceMax" type="text"
															name="profileExperienceMax"
															placeholder="Profile Experience (Max)"
															class="form-control" />
														</span>
													</p>
												</div>



											</div>
											<div class='row'>

												<div class='col-md-12'>
													<p>&nbsp;</p>
												</div>

											</div>


											<div class='row'>

												<div class='col-md-12'>
													<p>
														<label>Job Profile</label>&nbsp;<font color="red">*</font>
														<textarea name="jobProfile" id="jobProfile" rows="10"
															cols="80">
               
													</textarea>
														<script>
														// Replace the <textarea id="editor1"> with a CKEditor
														// instance, using default configuration.
														CKEDITOR.replace( 'jobProfile' );
													</script>
													</p>
												</div>
											</div>

											<div class='row'>

												<div class='col-md-12'>
													<p>&nbsp;</p>
												</div>
											</div>
											<div class="form-group" align="right">
												<button type="submit" class="btn btn-primary"
													id="addRequestBtn">Save</button>
												<button type="submit" class="btn btn-primary"
													id="addRequestSubmitBtn">Save & Submit</button>
												<button type="reset" class="btn btn-primary"
													id="request_cancel_btn">Cancel</button>
											</div>



										</div>

										<!--widgetcontent-->
									</div>
								</form>


								<!--widget-->



							</div>
							<!-- a-1 ends here -->

							<div id="a-2">

								<div id="manpowerReqInterview"></div>


							</div>
							<!-- end of a-2 -->

							<div id="a-3">

								<div id="manpowerReqSelectedCandidates"></div>


							</div>
							<!-- end of a-3 -->


						</div>







					</div>
					<!-- End of Panel Body -->

					<div class="footer">
						<div class="footer-left">
							<span>&copy; 2015. BPA Technologies. All Rights Reserved.</span>
						</div>
						<div class="footer-right">
							<span>Powered by: <a href="http://www.bpatech.com"
								target="_blank">BPA Technologies</a></span>
						</div>
					</div>
					<!--footer-->
				</div>
				<!--maincontentinner-->
			</div>
			<!--maincontent-->
		</div>
		<!--rightpanel-->
	</div>
	<!--mainwrapper-->
	<!-- custom block Ui STARTS HERE-->
	<div id="loading-div-background" style="display: none;">
		<div id="loading-div" class="ui-corner-all">
			<img style="height: 50%; margin: 10px;"
				src="../../resources/images/loading.gif" alt="Loading.." />
			<h4 style="color: #ffffff; font-size: 18px; font-weight: normal;">Please
				wait...</h4>
		</div>
	</div>



	<a href="#" class="hide slide-nav-block"
		data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>
	<!-- / footer -->
	<script src="../../resources/js/config.js"></script>
	<script src="../../resources/js/atoc_common.js"></script>
	<script src="../../view/staticpages/notifications.js"></script>
	<script src="../../view/recruitment/editManpowerRequest.js"></script>
	<script src="../../resources/js/RestrictRedirection.js"></script>
	<script src="../../resources/js/BackButtonRestrict.js"></script>
	<script src="../../resources/js/Application.js"></script>
	<script type="text/javascript"
		src="../../resources/js/jquery.blockUI.js"></script>
	<script src="../../resources/js/jquery.slimscroll.js"></script>
	<script src="../../resources/js/jquery.dataTables.js"></script>
	<script src="../../resources/js/datatable_responsive.js"></script>
	<script src="../../resources/js/leftnavigation.js"></script>
	<script src="../../resources/js/jquery.validate.min.js"></script>
	<script>
		setUserTokenToRequestHeader(sessionStorage.getItem("userToken"));
		setProfileImage(sessionStorage.getItem("profileImgData"));
	</script>
</body>
</html>