<!DOCTYPE html>
<html>
  <head>
    <title>:: HRMS ::</title>
	<style>
		.p 
		{
		  font-family: sans-serif;	
		}
		.logo 
		{
			width: 240px;
		}

	</style>
  </head>
  <body>
	<table>
	  <tr style="background:#0866c6; height: 110px;">
		<td>
			<div class="logo">
				<img src="cid:hrmslogo" />
			</div>
		</td>
	  </tr>	
      <tr>
	  <td>
		<table style="background:#F2F2F2; height: 110px;">
          <tr>
			<td><p>Hi ${firstName}</p><br/></td>
		  </tr>
		  <tr>
			<td>
			  <p>Your password has been updated successfully.</p>
			  <p>If you did not perform the same please contact administrator.</p>
			  <p>Thanks,</p>
			  <p>HR Administrator.</p>
            </td>
          </tr>
        </table>
	 </td>
	  </tr>
    </table>
  </body>
</html>
