<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>:: HRMS ::</title>
<link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
<link href="../../resources/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="../../resources/css/jquery.ui.css">
<link rel="stylesheet"
	href="../../view/forgotPassword/forgotPassword.css" type="text/css" />
</head>
<body class='login'>
	<div class="container">
		<div id="header" class="custom-header"></div>
		<div class='wrapper'>
			<div class='row'>
				<div class='col-lg-12'>
					<div class='brand text-center'>
						<h1>
							<div class='logo-icon'>
								<img alt="bpa_logo" id="imglogin"
									src="../../resources/images/hrms_logo.png" class="navbar_logo"
									style="padding-top: 2px; padding-bottom: 7px;">
							</div>
						</h1>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-12'>
					<form>
						<fieldset class='text-center'>
							<legend>Forgot Password</legend>
							<div class='form-group'>
								<p id="emailInvalid" style="color: orange; display: none;">Invalid
									Email Id.</p>
								<p id="forgotfieldNotEmpty"
									style="color: orange; display: none;">Please enter Email
									Id.</p>
								<p id="forgotemailnotvalid"
									style="color: orange; display: none;">Sorry this user does
									not exist.</p>
								<input type="text"
									class='form-control name_customStyle only_removeSpace'
									placeholder='Enter your Email Id' required="required"
									id="forgot_email" maxlength="50">
							</div>
							<br>
							<div class='text-center'>
								<button id="forgot_send_btn" type="submit"
									class="btn btn-primary">Submit</button>
								&nbsp;&nbsp;
								<button type="submit" class="btn btn-primary" id="home">Go
									Back</button>
							</div>
						</fieldset>
						<!-- custom block Ui STARTS HERE-->
						<div id="loading-div-background" style="display: none;">
							<div id="loading-div" class="ui-corner-all">
								<img style="height: 50%; margin: 10px;"
									src="../../resources/images/loading.gif" alt="Loading.." />
								<h4
									style="color: #ffffff; font-size: 18px; font-weight: normal;">Please
									wait...</h4>
							</div>
						</div>
						<!-- custom block Ui ENDS HERE-->
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript"
		src="../../resources/js/jquery-1.10.2.min.js"></script>
	<script src="../../resources/js/config.js"></script>
	<script src="../../resources/js/BackButtonRestrict.js"></script>
	<script src="../../resources/js/jquery.validate.min.js"></script>
	<script src="../../resources/js/Application.js"></script>
	<script type="text/javascript"
		src="../../resources/js/jquery.blockUI.js"></script>
	<script src="../../view/forgotPassword/forgotPassword.js"></script>
</body>
</html>