<table id="myDependentList_table"
	class="table table-bordered responsive nowrap" cellspacing="0"
	width="100%">
	<thead>
		<tr>

			<th>Name</th>
			<th>Relationship</th>
			<th>Date of Birth</th>

		</tr>
	</thead>
	<tbody>
	</tbody>
</table>


<div id="loading-div-background" style="display: none;">
	<div id="loading-div" class="ui-corner-all">
		<img style="height: 50%; margin: 10px;"
			src="../../resources/images/loading.gif" alt="Loading.." />
		<h4 style="color: #ffffff; font-size: 18px; font-weight: normal;">Please
			wait...</h4>
	</div>
</div>

<script src="../../view/employee/myDependent.js"></script>