

<table id="myEducationList_table"
	class="table table-bordered responsive nowrap" cellspacing="0"
	width="100%">
	<thead>
		<tr>

			<th>Course</th>
			<th>Is Course Regular ?</th>
			<th>University/College</th>
			<th>Year of Passing</th>
			<th>Percentage</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<div id="loading-div-background" style="display: none;">
	<div id="loading-div" class="ui-corner-all">
		<img style="height: 50%; margin: 10px;"
			src="../../resources/images/loading.gif" alt="Loading.." />
		<h4 style="color: #ffffff; font-size: 18px; font-weight: normal;">Please
			wait...</h4>
	</div>
</div>
<script src="../../view/employee/myEducation.js"></script>